<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/assets/images/favicon.png" />
  <link href="/feed.xml" type="application/rss+xml" rel="alternate" title="Fosstodon Hub" />
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}" />
  <link rel="stylesheet" href="/assets/css/style.css">
{% if page.author %}
  {% assign author = site.data.authors[page.author] %}
  <meta name="fediverse:creator" content={{ author.handle }}>
{% endif %}
</head>
