/* Import the main SimpleCSS stylesheet */
@import url("https://cdn.simplecss.org/simple.min.css");

nav a:hover,
nav a.current {
  color: var(--accent) !important;
  border-color: var(--accent);
  background: var(--bg);
}

nav a.current:hover {
  text-decoration: none;
}

.post-description {
  font-size: 1rem;
  font-style: italic;
}

.post-meta {
  color: var(--text-light);
  font-size: .9rem;
}

.blog-item {
  margin-bottom: 3rem;
}

.blog-item a {
  font-size: 1.4rem;
}

.button {
  border: none;
  border-radius: 5px;
  background: var(--accent);
  font-size: 1rem;
  color: var(--bg) !important;
  text-decoration: none;
  padding: .7rem .9rem;
  margin: .5rem 0;
  transition: .4s;
}

.button:hover {
	opacity: .8;
}
