/* Import the main SimpleCSS stylesheet */
@import url("https://cdn.simplecss.org/simple.min.css");

:root {
  --dark-red: #951818;
}

nav a:hover,
nav a.current {
  color: var(--accent) !important;
  border-color: var(--accent);
  background: var(--bg);
}

nav a.current:hover {
  text-decoration: none;
}

.post-description {
  font-size: 1rem;
  font-style: italic;
}

.post-meta {
  color: var(--text-light);
  font-size: .9rem;
}

.blog-item {
  margin-bottom: 3rem;
}

.blog-item a {
  font-size: 1.4rem;
}

.button {
  border: none;
  border-radius: 5px;
  background: var(--accent);
  font-size: 1rem;
  color: var(--bg) !important;
  text-decoration: none;
  padding: .7rem .9rem;
  margin: .5rem 0;
  transition: .4s;
}

.button:hover {
	opacity: .8;
}

/****** Format the notice boxes ******/

.notice {
  background: var(--accent);
  color: var(--bg);
  padding: 1rem 2rem;
}

.notice a {
  color: var(--bg) !important;
  text-decoration: underline;
  text-decoration-thickness: .15rem;
}

.notice a:hover {
  text-decoration-style: dotted;
}

.notice code,
.notice-red code {
  color: var(--bg);
}

.notice-red {
  background: var(--dark-red);
  color: #fff;
  padding: 1rem 2rem;
}

.notice-red a {
  color: #fff !important;
  text-decoration: underline;
  text-decoration-thickness: .15rem;
}

.notice-red a:hover {
  text-decoration-style: dotted;
}

/* Format the team banners */
.team-banner {
  background: var(--accent-bg);
  border: 3px solid var(--accent);
  position: relative;
  margin: .5rem .5rem 0 0;
  padding: 1rem;
  width: 42%;
  height: 350px;
  float: left;
}

/* Make full width on mobile screens */
@media only screen and (max-width: 700px)  {
  .team-banner {
    float: none;
    margin: .5rem auto;
    width: 90%;
    height: auto;
  }
  .team-banner span {
    position: relative;
  }
}

.team-banner p {
  margin-bottom: .5em;
  font-size: 1rem;
}

.team-title {
  font-size: 1.4em !important;
  font-weight: bold;
  margin: 0;
}
